.options{
  display: flex;
  position: absolute;
  justify-content: center;

  & .option{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    cursor: pointer;
    color:black;
    font-size: 2rem;
    transition: all 0.1s;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{
      color:dodgerblue;
    }
  }

  & .isSelected {
    border:2px solid dodgerblue;
    color: dodgerblue;
  }
}
